*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(192, 195, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}
.box{
    /* height: 200px; */
    width: 400px;
    background-color: white;
    padding: 60px;
    border-radius: 20px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(79, 79, 200);
}

label{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

input{
    width: 100%;
    height: 25px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button{
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 1px;
    background-color: rgb(138, 138, 242);
    color: white;
    font-weight: 500;
    cursor: pointer;
}